@inherits UmbracoViewPage<LIAUmbraApp.Models.ContactViewModel>
    
@using (Html.BeginUmbracoForm("SubmitForm", "CreateContentSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        
        @Html.ValidationSummary(false, "", new {@class = "text-danger"})

        <div class="form-group">
            @Html.Label(@Umbraco.GetDictionaryValue("firstName"), new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@Umbraco.GetDictionaryValue("lastName"), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@Umbraco.GetDictionaryValue("emailMessage"), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new {rows = 3, cols = 45, placeholder = @Umbraco.GetDictionaryValue("textareaPlaceholder") })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Umbraco.GetDictionaryValue("sendButton")" class="btn btn-default"/>
                <span>@TempData["success"]</span>
            </div>
        </div>

    </div>

}

