@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CreateContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "SiteLayout.cshtml";
}

<div class="container">
	@Umbraco.Field("bodyText")

	@{
		Html.RenderAction("RenderForm", "CreateContentSurface");
	}
</div>

@{
	var page = CurrentPage;

	if (page.Children.Any())
	{
		foreach (var childPage in page.Children.Where("Visible"))
		{
			@*<li>
				<a href="@childPage.Url">@childPage.Name</a>
			</li>*@
			<li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
				<a href="@childPage.Url">@childPage.Name</a>
			</li>
		}
	}
}

